{% extends "base.html" %}

{% block title %}Об авторе проекта{% endblock %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col col-12">
      <h3>Привет, я автор</h3>
      <p>Меня зовут Литюшкин Евгений. Мне 31 год и я веб-программист (php).</p>
      <p>Пристрастился к программированию со времён университета</p>
      <p>Несколько месяцев назад решил изучить Python и это мой первый проект!</p>
      <p>А это ссылка на мой <a href='https://github.com/evgenlit' target='_blank'>github</a></p>
    </div>
  </div>
</div>
{% endblock %}